.background{
-fx-background-color: #000
}
.background2{
    -fx-background-image: url("../img/ground3.jpg");
}
.background3{
    -fx-background-image: url("../img/main-ground.jpg");
    -fx-background-size: cover, auto;
}

.background4{ 
    -fx-background-image: url("../img/ground2.jpg");
}

.background5{ 
    -fx-background-image: url("../img/restaurant.jpg");
    -fx-background-size: cover, auto;
}

.background5{ 
    -fx-background-image: url("../img/restaurant2.jpg");
    -fx-background-size: cover, auto;
}